<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<title>30 Day Shopping</title>

	<!-- Don't suck at default zoom level. -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">

    <!-- JQuery for JQueryUI and Bootstrap-->
	<script src=
		"{{ url_for('static', filename='jquery/jquery-1.11.1.js') }}"></script>

    <!-- Boostrap -->
	<link href=
	"{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}"
		rel="stylesheet">

	<link href=
	"{{ url_for('static', filename='bootstrap/css/bootstrap-theme.css') }}"
		rel="stylesheet">

	<script src=
		"{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>

	<!-- Base app css -->
	<link href=
	"{{ url_for('static', filename='base.css') }}"
		rel="stylesheet">

	<!-- JQuery UI for Date Picker -->
	<link href=
	"{{ url_for('static', filename='jquery-ui-1.11.1/jquery-ui.css') }}" rel="stylesheet">

	<script src=
		"{{ url_for('static', filename='jquery-ui-1.11.1/jquery-ui.js') }}"></script>

	<script>
		// Bind a Date Picker to any control named id_completed
		 $(function() {
			 $( "#expected" ).datepicker();
			 $( "#resolved" ).datepicker();
			 $( "#expected" ).datepicker( "option", "dateFormat", "yy-mm-dd");
			 $( "#resolved" ).datepicker( "option", "dateFormat", "yy-mm-dd");
		 });
	</script>

</meta>
	<title>30 Day Purchase App</title>
</head>
<body>
<!-- Start of Navigation -->
{% block nav %}
<nav class="navbar navbar-default" role="navigation">
<div>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">Shopping</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="http://weekend.delaporte.us">Weekend Plans</a></li>
        <li><a href="http://weekend.delaporte.us/completed">Completed plans</a></li>
        <li><a href="http://shopping.delaporte.us">Shopping</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}
<!-- End of Navigation -->
	{{ debug }}
	<ul>
		<li><a href={{ url_for('index') }}>Home</a></li>
		<li><a href={{ url_for('index', mode='wont') }}>Won't buy something.</a></li>
		<li><a href={{ url_for('index', mode='bought') }}>Bought something.</a></li>
	</ul>
	{% if edit_item %}
	<h2> Modify purchase {{ edit_item.id }}</h2>
	{% else %}
	<h2> Add a purchase </h2>
	{% endif %}
	{% if form.errors %}
		<ul class="errors">
			{% for field_name, field_errors in form.errors|dictsort if field_errors %}
				{% for error in field_errors %}
					<li>{{ form[field_name].label }}: {{ error }}</li>
				{% endfor %}
			{% endfor %}
		</ul>
	{% endif %}
	{% if edit_item %}
	<form action="{{ url_for('index', item_id=edit_item.id) }}" method=POST>
	{% else %}
	<form action="{{ url_for('index') }}" method=POST>
	{% endif %}
	{% for field in form %}
	<p>{{ field.label }} {{ field(foo='bar') }}</p>
	{% endfor %}
	<input type=submit value=Submit />
	</form>
	<h2>Planned Purchases </h2>
	<ul>
		<li><a href="{{ url_for('index') }}">Add a purchase.</a></li>
		{% for purchase in items %}
		<li>
			{% if mode == 'bought' %}
			<form method=POST action="{{ url_for('bought', item_id=purchase.id) }}">
				<input type=submit value="Bought {{ purchase }}"/></form>
			{% elif mode == 'wont' %}
			<form method=POST action="{{ url_for('wont', item_id=purchase.id) }}">
				<input type=submit value="Won't buy {{ purchase }}"/></form>
			{% else %}
			<a href='{{ url_for('index', item_id=purchase.id) }}'>{{ purchase }}</a>
			{% endif %}
		</li>
		{% else %}
		<li>No purchases planned at the moment.</li>
		{% endfor %}
	</ul>
	<h2>Expected Monthly Costs</h2>
	<ul>
	{% for month, cost in sums.iteritems() %}
	<li>
		{{ month }} - ${{ cost }}
	</li>
	{% else %}
		No sums...
	{% endfor %}
	</ul>
	<h2>Recently Bought</h2>
	<ul>
		{% for purchase in recently_bought %}
		<li>
			<a href='{{ url_for('index', item_id=purchase.id) }}'>{{ purchase }}</a>
		</li>
		{% else %}
		<li>Nothing bought recently.</li>
		{% endfor %}
	</ul>

	<h2>Will Not Buy</h2>
	<ul>
		{% for purchase in will_not_buy %}
		<li>
			<a href='{{ url_for('index', item_id=purchase.id) }}'>{{ purchase }}</a>
		</li>
		{% else %}
		<li>No purchases skipped yet.</li>
		{% endfor %}
	</ul>

</body>
</html>
